@import './../../global/styles/imports.scss';

.modal {
  background-color: $white;
  border: 0.1em solid getColor(light, light);
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  display: none;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 99;
  
  @media (min-width: 1280px) {
    width: 700px;
  }

  &__overlay {
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 98;

    &--open {
      display: block;
    }
  }

  &--open {
    display: flex;
  }

  &__title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  &__content {
    display: flex;
    padding: 0.5em 1em;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
  }

  &__buttons {
    button {
      margin-right: 1em;
    }
  }

  &__close {
    background-color: transparent;
    border: none;
    font-size: $xLarge;
    transition: all .3s ease-in-out;

    &:hover {
      color: getColor(primary);
      cursor: pointer;
    }
  }
}
