body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Colors
$primary: #62AC8D;
$secondary: #2A6B4F;
$danger: #e5163f;
$dark: #121236;
$light: #ede9e8;
$white: #ffffff;
$black: #0C0D1D;

$colorShade: 8%;
$colorTrans: 0.5;
$borderRadius: 0.3em;

$colors: (
  primary: (
    base: $primary,
    light: lighten($primary, $colorShade),
    dark: darken($primary, $colorShade),
    trans: transparentize($primary, $colorTrans)
  ),
  secondary: (
    base: $secondary,
    light: lighten($secondary, $colorShade),
    dark: darken($secondary, $colorShade),
    trans: transparentize($secondary, $colorTrans)
  ),
  danger: (
    base: $danger,
    light: lighten($danger, $colorShade),
    dark: darken($danger, $colorShade),
    trans: transparentize($danger, $colorTrans)
  ),
  dark: (
    base: $dark,
    light: lighten($dark, $colorShade),
    dark: darken($dark, $colorShade),
    trans: transparentize($dark, $colorTrans)
  ),
  light: (
    base: $light,
    light: lighten($light, $colorShade),
    dark: darken($light, $colorShade),
    trans: transparentize($light, $colorTrans)
  ),
  white: (
    base: $white,
    light: lighten($white, $colorShade),
    dark: darken($white, $colorShade),
    trans: transparentize($white, $colorTrans)
  ),
  black: (
    base: $black,
    light: lighten($black, $colorShade),
    dark: darken($black, $colorShade),
    trans: transparentize($black, $colorTrans)
  )
);