body {
  // box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: #ccd9df auto 3px;
}

// Font Sizes
$xSmall: 0.6em;
$small: 0.8em;
$medium: 1em;
$large: 1.2em;
$xLarge: 1.4em;
$xxLarge: 1.8em;

// Colors
$primary: #62AC8D;
$secondary: #2A6B4F;
$danger: #e5163f;
$dark: #08090a;
$light: #ccd9df;
$white: #ffffff;
$black: #111116;
$grey: #d8d8dd;
$metal: #7c828d;

// Input
$inputPadding: 0.8em 0.5em;
$inputHeight: 2.5em;

// Other
$colorShade: 8%;
$colorTrans: 0.5;
$colorTransLight: 0.2;
$borderRadius: 0.3em;
$boxShadow: rgba(8, 35, 51, 0.1) 0px 2px 14px;
$boxShadowHover: rgba(8, 35, 51, 0.3) 0px 2px 14px;

$colors: (
  primary: (
    base: $primary,
    light: lighten($primary, $colorShade),
    dark: darken($primary, $colorShade),
    trans: transparentize($primary, $colorTrans),
    transLight: transparentize($primary, $colorTransLight)
  ),
  secondary: (
    base: $secondary,
    light: lighten($secondary, $colorShade),
    dark: darken($secondary, $colorShade),
    trans: transparentize($secondary, $colorTrans),
    transLight: transparentize($secondary, $colorTransLight)
  ),
  danger: (
    base: $danger,
    light: lighten($danger, $colorShade),
    dark: darken($danger, $colorShade),
    trans: transparentize($danger, $colorTrans),
    transLight: transparentize($danger, $colorTransLight)
  ),
  dark: (
    base: $dark,
    light: lighten($dark, $colorShade),
    dark: darken($dark, $colorShade),
    trans: transparentize($dark, $colorTrans),
    transLight: transparentize($dark, $colorTransLight)
  ),
  light: (
    base: $light,
    light: lighten($light, $colorShade),
    dark: darken($light, $colorShade),
    trans: transparentize($light, $colorTrans),
    transLight: transparentize($light, $colorTransLight)
  ),
  white: (
    base: $white,
    light: lighten($white, $colorShade),
    dark: darken($white, $colorShade),
    trans: transparentize($white, $colorTrans)
  ),
  black: (
    base: $black,
    light: lighten($black, $colorShade),
    dark: darken($black, $colorShade),
    trans: transparentize($black, $colorTrans)
  ),
  grey: (
    base: $grey,
    light: lighten($grey, $colorShade),
    dark: darken($grey, $colorShade),
    trans: transparentize($grey, $colorTrans)
  ),
  metal: (
    base: $metal,
    light: lighten($metal, $colorShade),
    dark: darken($metal, $colorShade),
    trans: transparentize($metal, $colorTrans)
  )
);
