// Colors
$darkBlue: #212d40;
$green: #118681;
$lightGrey: #ede9e8;
$red: #e5163f;
$white: #ffffff;
$yellow: #ffba49;

$colorShade: 15%;
$colorTrans: 0.5;

$colors: (
  darkBlue: (
    base: $darkBlue,
    light: lighten($darkBlue, $colorShade),
    dark: darken($darkBlue, $colorShade),
    trans: transparentize($darkBlue, $colorTrans)
  ),
  green: (
    base: $green,
    light: lighten($green, $colorShade),
    dark: darken($green, $colorShade),
    trans: transparentize($green, $colorTrans)
  ),
  lightGrey: (
    base: $lightGrey,
    light: lighten($lightGrey, $colorShade),
    dark: darken($lightGrey, $colorShade),
    trans: transparentize($lightGrey, $colorTrans)
  ),
  red: (
    base: $red,
    light: lighten($red, $colorShade),
    dark: darken($red, $colorShade),
    trans: transparentize($red, $colorTrans)
  ),
  white: (
    base: $white,
    light: lighten($white, $colorShade),
    dark: darken($white, $colorShade),
    trans: transparentize($white, $colorTrans)
  ),
  yellow: (
    base: $yellow,
    light: lighten($yellow, $colorShade),
    dark: darken($yellow, $colorShade),
    trans: transparentize($yellow, $colorTrans)
  )
);