@import './../../global/styles/_imports.scss';

.tabs {
  &__navigator {
    border: 0.1em solid getColor(grey);
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-evenly;
  }
}
