@import './../../global/styles/imports.scss';

.paginator {
  &__button {
    background-color: $white;
    border: 0.1em solid getColor(grey);
    border-radius: $borderRadius;
    box-shadow: none;
    color: getColor(black, light);
    font-size: $small;
    height: 2.5em;
    margin: 0 0.1em;
    min-width: 2.5em;
    padding: $inputPadding;
    transition: all .5s ease-in-out;

    &:hover {
      background-color: getColor(primary, trans);
      border: 0.1em solid getColor(primary);
      cursor: pointer;
    }
  }

  &__button-active {
    background-color: getColor(primary);
    border: 0.1em solid getColor(primary);
    color: getColor(white);
  }

  &__elipsis {
    color: getColor(black);
    margin: 0 0.2em;
    letter-spacing: 0.1em;
  }

  &__button-disabled {
    display: none;
  }
}
