@import './../../global/styles/imports.scss';

.expandable-content {
  &__icon {
    align-items: center;
    background-color: getColor(primary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 1.6em;
    margin-right: 1em;
    width: 1.6em;

    svg {
      color: getColor(white);
    }
  }

  &__title {
    background-color: getColor(grey, light);
    border-radius: 0.5em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: none;
    padding: 2em 1em;
  }

  &--open {
    .expandable-content__title {
      border-bottom: 0.1em solid getColor(primary);
    }

    .expandable-content__content {
      display: flex;
    }
  }
}
