@import './../../global/styles/imports.scss';

.input {
  background-color: $white;
  border: 0.1em solid getColor(grey);
  border-radius: $borderRadius;
  box-shadow: none;
  color: getColor(black, light);
  font-size: $medium;
  height: $inputHeight;
  padding: $inputPadding;

  &:focus {
    border: 0.1em solid getColor(primary);
    outline: none;
  }

  &--error {
    border: 0.1em solid getColor(danger);
  }
}