@import './../../global/styles/settings.scss';
@import './../../global/styles/functions.scss';

.button {
  border: none;
  border-radius: 0.4em;
  font-size: 1em;
  padding: 0.8em 2em;

  &--primary {
    background: getColor(yellow, base);
    color: getColor(darkBlue, base);
  }

  &--secondary {
    background: getColor(green, base);
    color: getColor(white, base);
  }

  &--danger {
    background: getColor(red, base);;
    color: getColor(white, base);
  }

  &--dark {
    background: getColor(darkBlue, base);
    color: getColor(white, base);;
  }

  &--light {
    background: getColor(lightGrey, base);
    color: getColor(darkBlue, base);
  }
}