@import './../../global/styles/_imports.scss';

.button {
  border: none;
  border-radius: $borderRadius;
  font-size: 1em;
  padding: 0.8em 2em;
  transition: all .2s ease-in-out;

  &:hover {
    transition: all .2s ease-in-out;
  }

  &--small {
    font-size: 0.9em;
    padding: 0.7em 2em;
  }

  &--block {
    width: 100%;
  }

  &--primary {
    background: getColor(primary, base);
    color: getColor(white, base);

    &:hover {
      background: getColor(primary, dark);
    }
  }

  &--secondary {
    background: getColor(secondary, base);
    color: getColor(white, base);

    &:hover {
      background: getColor(secondary, dark);
    }
  }

  &--danger {
    background: getColor(danger, base);
    color: getColor(white, base);

    &:hover {
      background: getColor(danger, dark);
    }
  }

  &--dark {
    background: getColor(dark, base);
    color: getColor(white, base);

    &:hover {
      background: getColor(dark, dark);
    }
  }

  &--light {
    background: getColor(light, base);
    color: getColor(dark, base);

    &:hover {
      background: getColor(light, dark);
    }
  }

  &--ghost {
    background: transparent;

    &--primary {
      border: 0.1em solid getColor(primary);
      color: getColor(primary, base);

      &:hover {
        background: getColor(primary, base);
        color: getColor(white, base);
      }
    }

    &--secondary {
      border: 0.1em solid getColor(secondary);
      color: getColor(secondary, base);

      &:hover {
        background: getColor(secondary, base);
        color: getColor(white, base);
      }
    }

    &--danger {
      border: 0.1em solid getColor(danger);
      color: getColor(danger, base);

      &:hover {
        background: getColor(danger, base);
        color: getColor(white, base);
      }
    }

    &--dark {
      border: 0.1em solid getColor(dark);
      color: getColor(dark, base);

      &:hover {
        background: getColor(dark, base);
        color: getColor(white, base);
      }
    }

    &--light {
      border: 0.1em solid getColor(light);
      color: getColor(dark, base);

      &:hover {
        background: getColor(light, base);
      }
    }
  }
}