@import './../../global/styles/imports.scss';

.observation-card {
  border-radius: $borderRadius;
  border: 1px solid getColor(grey);
  width: 100%;
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
    border: 1px solid getColor(grey, dark);
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  &__author {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5em;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  &__title {
    p {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
      font-size: 14px;
    }
  }

  &__info {
    margin-bottom: 1em;
    display: flex;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
  }

  &__tooltips {
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 1em;
    padding: 0 1em 0 1em;

    svg {
      color: getColor(white);
    }
  }

  &__tooltip {
    position: relative;
    margin-right: 2em;

    .tooltip {
      display: none;
      position: absolute;
      left: -1em;
      top: -2.2em;
      transition: all .3s ease-in-out;
      min-width: 100%;
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }

  &__menu-toggle {
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    svg {
      font-size: 2.2em;
    }

    &:hover {
      color: getColor(primary);
      cursor: pointer;
    }
  }
}
