@import './../../global/styles/imports.scss';

.observation-card {
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  width: 100%;
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: $boxShadowHover;
    transform: translateY(-0.1em);
  }

  &__image {
    margin: 0;
    position: relative;
  }

  &__image-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.7em 1em;
  }

  &__date,
  &__location {
    align-items: center;
    display: flex;
    justify-content: space-between;

    svg {
      margin-right: 0.5em;
      color: getColor(white);
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  &__duration {
    display: flex;

    svg {
      margin-right: 0.5em;
    }
  }

  &__actions {
    display: flex;
  }

  &__tooltips {
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 1em;
    padding: 0 1em 0 1em;

    svg {
      color: getColor(white);
    }
  }

  &__tooltip {
    position: relative;
    padding-right: 1em;

    .tooltip {
      display: none;
      position: absolute;
      left: -1em;
      top: -2.2em;
      // width: 100%;
      transition: all .3s ease-in-out;
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }

  &__menu-toggle {
    border: none;

    svg {
      font-size: 2.2em;
    }

    &:hover {
      color: getColor(primary);
      cursor: pointer;
    }
  }
}
