@import './../../global/styles/imports.scss';

.link {
  text-decoration: none;
  transition: all .3s ease-in-out;

  &--primary {
    color: getColor(primary);

    &:hover {
      color: getColor(primary, trans);
    }
  }

  &--secondary {
    color: getColor(secondary);

    &:hover {
      color: getColor(secondary, trans);
    }
  }

  &--danger {
    color: getColor(danger);

    &:hover {
      color: getColor(danger, trans);
    }
  }

  &--dark {
    color: getColor(dark);

    &:hover {
      color: getColor(dark, trans);
    }
  }

  &--light {
    color: getColor(black, trans);

    &:hover {
      color: getColor(black);
    }
  }
}