@import './../../global/styles/imports.scss';

.text {
  color: getColor(black);

  &--bold {
    font-weight: 900;
  }

  &--italic {
    font-style: italic;
  }

  &--xs {
    font-size: $xSmall;
  }

  &--sm {
    font-size: $small;
  }

  &--md {
    font-size: $medium;
  }

  &--lg {
    font-size: $large;
  }

  &--xlg {
    font-size: $xLarge;
  }

  &--xxlg {
    font-size: $xxLarge;
  }
}
