@import './../../global/styles/imports.scss';

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  &__label {
    color: getColor(black, light);
    margin-bottom: 0.5em;
  }
}
